.root {
    width: 550px;
    height: 350px;

    margin: 35px;
    margin-top: 0px;

    padding: 5px;

    box-shadow: 0px 0px 10px;

    overflow-y: scroll;
    overflow-x: hidden;

    transition: 1s;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 550px;
}

.project_name {
    align-self: center;

    display: flex;
    flex-direction: column;

    position: relative;

    &::after {
        position: absolute;
        bottom: -35px;
    
        content: '';
    
        background: rgba(0, 0, 0, 0.585);
        border-radius: 30px;
    
        transform: scale(1.5, 0.3) translate(15%, 0);
    
        width: 70%;
        height: 45px;
    }
}

.description {
    width: 80%;

    align-self: center;

    margin-top: 15px;
}

.block {
    align-self: center;
    width: 80%;
    margin-top: 10px;
}

.done {
    color: inherit;
    margin-bottom: 15px;
} 

.gallery {
    position: relative;
    align-self: center;

    height: 250px !important;
    width: 432px;

    box-sizing: content-box;
    margin: 15px auto;
}

.current {
    position: absolute;
    left: 0;
    right: 0;
    height: 250px;
    width: 432px;

    object-fit: cover;
    opacity: 1;
    
    visibility: visible;
    
    transition: 1s;

    border-radius: 15px;
}

.previous {
    position: absolute;
    left: -470px;
    top: 0;

    height: 250px;
    width: 432px;

    object-fit: cover;
    opacity: 0;
    visibility: unset;

    transition: 1s;

    border-radius: 15px;
}

.another {
    display: none;
}

.next {
    position: absolute;
    left: 470px;
    top: 0;

    height: 250px;
    width: 432px;

    object-fit: cover;

    opacity: 0;
    
    visibility: unset;

    transition: 1s;

    border-radius: 15px;
}

.to_prew {
    position: absolute;
    left: 5px;
    top: 50%;
    width: 22.5px;
    height: 22.5px;
    &::after {
        position: absolute;
        top: 4.1px;
        content: '';
        background: gray;
        border: 1px solid gray;
        width: 15px;
        opacity: inherit;

        transform: rotate(-45deg);
    }

    &::before {
        position: absolute;
        top: 15px;
        content: '';
        background: gray;
        border: 1px solid gray;
        width: 15px;
        opacity: inherit;

        transform: rotate(45deg);
    }
}

.to_next {
    position: absolute;
    right: 0px;
    top: 50%;
    width: 22.5px;
    height: 22.5px;

    z-index: 5;
    &::after {
        position: absolute;
        top: 15px;
        content: '';
        background: gray;
        border: 1px solid gray;
        width: 15px;
        opacity: inherit;

        transform: rotate(-45deg);
    }

    &::before {
        position: absolute;
        top: 4.1px;
        content: '';
        background: gray;
        border: 1px solid gray;
        width: 15px;
        opacity: inherit;

        transform: rotate(45deg);
    }
}