html,
body {
    margin: 0;
    padding: 0;
}

$shadow: 5px;

a {
    color: rgb(0, 0, 0);
    font-weight: 900;
    text-shadow: 0 0 $shadow white;
}

::-webkit-scrollbar-track {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: rgb(59, 53, 53);
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 5px;
}